.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .user-card, .user-photo, .user-album {
    background-color: black;
    color: white;
    font-family: "Helvetica Neue";
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

